
.answer {
    display: flex;
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 25px;
    border: 2px solid rgba(96, 102, 208, 0.7);
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

/* .answer:hover {
    cursor: pointer;
    background-color: #F9A826;
}

.answer:hover .answer_selection {
    color: #FFFFFF;
}

.answer:hover .country{
    color: #FFFFFF;
} */

.cursor-not-allowed {
    cursor: not-allowed;
}

.pointer-events-none {
    pointer-events: none;
}

.answerIsTrue {
    background: #60BF88;
    color: #FFFFFF;
}

.answerIsFalse {
    background: #EA8282;  
    color: #FFFFFF;
}

.answer_selection {
    padding-left: 20px;
    margin-right: 60px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #6066D0CC;
}

.answers {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding-right: 20px;
    color: #6066D0CC;
    text-align: justify;
}