h1,
p{
    padding: 0;
}

.home {
    display: flex;
    flex-direction: column;
    width: 464px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 15%;
}

.upper {
    display: flex;
    position: relative;
}


.upper p {
    font-family: Poppins;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #F2F2F2;
    text-transform: uppercase;
}

